body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 1.25rem;
}

/*
 * Navbar
 */
.navbar {
    background-color: #009767;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar-brand img {
    width: 110px;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 1.25rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky a, .sidebar-sticky a:hover {
    color: #009767;
}

main a, main a:hover {
    color: #009767;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
