agenda-comme-un-calendar {
    margin: 0 auto;
}

.event-hosts {
    color: #90949c;
    font-size: 10px;
}

.event-sharer {
    color: #90949c;
    font-size: 10px;
    font-style: italic;
}

.event-description img {
    display: block;
    margin: 10px 0 10px 0;
}

#eventContainer .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem 1.5rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#eventContainer .event-header h1 {
    font-size: 1.75em;
    text-align: center;
}

#eventContainer .event-header .eventPagination, #eventContainer .event-header .eventCloseButton {
    padding: 0 1.25rem;
}

#eventContainer .event-body {
    padding: 1.25rem;
}

#calendarContainer .btn-primary, #eventContainer .btn-primary {
    background-color: #009767;
    border-color: #009767;
}

#calendarContainer .btn-primary.disabled, #calendarContainer .btn-primary:disabled {
    background-color: #009767;
    border-color: #009767;
}

#calendarContainer .btn-primary.focus, #calendarContainer .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,151,103,.5);
}

#calendarContainer .fc-event,#calendarContainer .fc-event-dot {
    background-color: #009767;
    border-color : #009767;
}

.fc-list-item-title a:hover {
    color: #009767;
}

#eventContainer a {
    color : #009767;
}

/* mobile */
@media (max-width: 1000px) {
    .event-sharer {
        font-size: 20px;
    }

    /*
    * Table
    */
    .fc-toolbar .fc-button-group {
        font-size: 1.5em;
    }

    table.fc-list-table tr td.fc-widget-header {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-time {
        font-size: 30px;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-marker {
        display: none;
    }

    table.fc-list-table tr.fc-list-item td.fc-list-item-title {
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    .event-header {
        font-size: 40px;
    }
    .event-hosts,
    .event-sharer {
        font-size: 20px;
    }
    .event-description {
        font-size: 30px;
    }
}
