
@media(max-width: 1000px) {
    /*
    * Navbar
    */
    nav.navbar,
    nav.navbar-brand {
        font-size: 25px;
    }

    nav.navbar a.navbar-brand {
        font-size: 30px;
        padding: 1em !important;
    }

    nav.navbar .form-control {
        padding: .75rem 1rem;
    }

    /* Sources */
    #menu-sources {
        margin-top: 50px;
        padding: 20px 40px;
    }

    .sidebar-sticky {
        height: auto;
    }

    .sidebar-sticky h5 {
        font-size: 45px;
    }

    .sidebar-sticky a {
        margin-top: 10px;
        font-size: 30px;
    }
}
